 @media (min-width: 1024px) {
    .about {
      min-height: 100vh;
      display: flex;
      align-items: center;
    }
  }
  
  .table-container {
    position: absolute;
    margin: 1%; 
    width: 98%; 
    top: 18%;
  }

  .me-auto{
      margin-right: 58%
  }
